@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #000;
  background: #ff5151;
}

.app_container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding: 4px;
}

.app_container > .wrapper {
  display: flex;
  width: 100%;
  background-color: #fff;
  border: 8px solid #ff7d7d;
  border-radius: 1.5rem;
}

.wrapper > .header {
  display: flex;
  width: 16.66666667%;
}

@media screen and (max-width: 640px) {
  .wrapper > .header {
    display: none;
  }
}

.wrapper > .main {
  display: flex;
  flex-direction: column;
  width: 100%;
}
